html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: "ff-tisa-sans-web-pro", sans-serif;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	text-align: center;
}

input:focus {
	outline: 0px;
	-webkit-appearance:none;
}

a, img {
	border:none;
}

.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

.tooltip {
	display: none;
	position: absolute;
	z-index: 1000;
	background-color: #fff;
	padding: 10px;
	border: 2px solid #bdc3c7;
	border-radius: 6px;
	pointer-events: none;
}

.tooltip .title {
	margin: 0px;
	margin-top: 3px;
	max-width: 400px;
}


/*
 *
 * Sidebar
 *
 */


.sidebar {
	position: absolute;
	min-height: 100%;
	width: 300px;
	padding: 0px 10px;
	border-right: 1px #ccc solid;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
}

.sidebar .inventory-header {
	font-size: 55px;
}

.sidebar .description {
	margin-top: -15px;
	font-size: 16px;
	opacity: .5;
}

.sidebar .search-input {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sidebar .ui-slider {
	margin: 15px 10px 40px;
}

.sidebar .switch {
	margin-top: 10px;
	margin-left: 10px;
}

.sidebar .has-switch span {
	width: 50%;
	padding-right: 10px;
	font-size: 16px !important;
	line-height: 22px !important;
}

.sidebar .switch-right {
	padding-left: 15px;
}

.sidebar .conditions {
	margin-bottom: 70px;
}

.sidebar .conditions label {
	display: block;
	margin: 10px;
	padding-top: 2px;
}

.conditions .new .checkbox.checked, .conditions .new .checkbox.checked .icons {
	color: #34495e;
}

.like-new .checkbox.checked, .conditions .like-new .checkbox.checked .icons {
	color: #3498db;
}

.conditions .good .checkbox.checked, .conditions .good .checkbox.checked .icons {
	color: #f1c40f;
}

.conditions .acceptable .checkbox.checked, .conditions .acceptable .checkbox.checked .icons {
	color: #e74c3c;
}

.sidebar .section {
	margin-top: 30px;
}

.sidebar .footer {
	position: absolute;
	bottom: 0;
	height: 30px;
	padding-bottom: 10px;
}

.sidebar .footer img {
	width: 32px;
	float: left;
	padding: 0px 5px;
	opacity: .2;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.sidebar .footer img:hover {
	opacity: 1.0;
}


/*
 *
 * Content
 *
 */

.content {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 300px;
	overflow: hidden;
}

.graph {
	width: 100%;
	height: 100%;
	padding-left: 10px;
}

.plot {
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.x-axis, .y-axis {
	position: absolute;
	pointer-events: none;
}

.x-axis .label, .y-axis .label {
	font-size: 18px;
	opacity: .3;
}

.y-axis .label {
	position: absolute;
	margin-left: -15px;
	margin-top: -10px;
	top: 50%;
}

.x-axis {
	margin-top: -40px;
	width: 100%;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.x-axis .label {
	margin-top: -10px;
}

.y-axis {
	top: 0;
	height: 100%;
}

.x-axis .x-ticks {
	height: 20px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.y-axis .y-ticks {
	height: 100%;
	width: 100px;
	margin-left: 16px;
}

.x-axis .x-ticks .x-tick, .y-axis .y-ticks .y-tick  {
	position: absolute;
	opacity: .35;
	font-size: 14px;
}

.content .tooltip p {
	margin: 2px 0px;
	color: #444;
	max-width: 400px;
}

.content .tooltip .current-prices-text {
	display: none;
	font-weight: bold;
	margin-top: 10px;
}

.content .tooltip .prices {
	margin-left: 10px;
	font-weight: bold;
	font-size: 16px;
}