<!DOCTYPE html>
{{.SourceCommentHeader}}
<html lang="en">
	<head>
		<title>{{.Title}}</title>
		<link href="/css/app.css" rel="stylesheet">
		<link href="/css/flat-ui.css" rel="stylesheet">
		<script type="text/javascript" src="//use.typekit.net/lcd2zif.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div id="sidebar">
			<h1>BoardGameGeek <span class="inventory-header">Inventory</span></h1>

			<div class="sidebar-section">
				<input id="searchInput" type="text" value="" placeholder="Search..."></input>
			</div>

			<div class="sidebar-section">
				<h2>Rank</h2>
				<div id="rank-slider" class="ui-slider"></div>
			</div>

			<div class="sidebar-section">
				<h2>Price</h2>
				<div class="switch switch-square" data-on-label="$" data-off-label="€">
					<input id="currencyCheckbox" type="checkbox" checked="" ></input>
				</div>
				<div id="price-slider" class="ui-slider"></div>
			</div>

			<div class="sidebar-section">
				<h2>Condition</h2>
				<div id="conditions">
					<div class="new">
						<label class="checkbox checked"><input type="checkbox" id="newCheckbox" value="" checked="checked" data-toggle="checkbox"></input>New</label>
					</div>
					<div class="like-new">
						<label class="checkbox checked"><input type="checkbox" id="likeNewCheckbox" value="" checked="checked" data-toggle="checkbox"></input>Like New</label>
					</div>
					<div class="very-good">
						<label class="checkbox checked"><input type="checkbox" id="veryGoodCheckbox" value="" checked="checked" data-toggle="checkbox"></input>Very Good</label>
					</div>
					<div class="good">
						<label class="checkbox checked"><input type="checkbox" id="goodCheckbox" value="" checked="checked" data-toggle="checkbox"></input>Good</label>
					</div>
					<div class="acceptable">
						<label class="checkbox checked"><input type="checkbox" id="acceptableCheckbox" value="" checked="checked" data-toggle="checkbox"></input>Acceptable</label>
					</div>
				</div>
			</div>

			<div class="sidebar-section">
				<h2>Category</h2>
				<div id="categories"></div>
			</div>
		</div>
		<div id="content">
			<canvas id="plot"></canvas>
			<div id="x-axis">
				<h3 id="x-label">Rank</h3>
			</div>
			<div id="y-axis">
				<h3 id="y-label" class="rotate">Price</h3>
			</div>
			<div id="plotTooltip" class="tooltip">
				<h2 id="tooltipRankAndTitle"></h2>
			</div>
		</div>
		<script src="/js/jquery-1.8.3.min.js"></script>
		<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/js/jquery.ui.touch-punch.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-switch.js"></script>
		<script src="/js/flatui-checkbox.js"></script>
		<script src="/js/app.js"></script>
	</body>
</html>